

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>Create a Nomination</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>Select a Charity / Small Business to Benefit</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>Recognize the Best</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- container marketing -->




    <div class="container bs-docs-section">

        <div class="page-header">
            <h1>Nominate Someone You Know</h1>
        </div>
        <div class="row">


        </div>

        <div class="row">
            <div class="col-lg-6">
                <p>We'll send them an e-mail to let them know they've been nominated, and will include a link to your nomination. If they decide to accept the nomination, the story, picture, or video which describes or shows why they were nominated will be posted here on our website, and voted on by the general public.</p>
                <p>Once accepted by the nominee, a nomination can be shared on various social media networks to spread word of what your nominee did to deserve recognition (and start getting more votes).</p>
                <p>While the premise of the American Awards is public recognition above all else, if your nominee wins in the category for which you nominate them, they may receive prizes in honor of their win if it’s a sponsored category.</p>
                <p>To begin the nomination process, tell us about the person you're nominating, including who they are, what award you're nominating them for, and where we can e-mail them to inform them of their nomination.</p>
                <p>Then describe why the person you're nominating deserves to win the award you're nominating them for in a little narrative. Make sure to include a photo or a video (which has previously been posted on YouTube) that helps tell the story or makes the case for why your nominee should win.  Make sure you get the spelling and capitalization correct, because you won't be able to change anything after you've submitted the nomination!  (But don’t worry too much, the nominee will still be able to make changes if necessary!)  And don't worry. We won't post their name publicly or give their information to any 3rd parties unless they tell us it's okay! Privacy comes first!
                </p>
            </div>
            <div class="col-lg-6">
                <div class="well bs-component">

                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Its as Simple as Filling out this Form</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Your Email</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>

                            <!-- First Name-->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="firstname">Your First Name</label>
                                <div class="col-lg-10">
                                    <input id="nominatorfirstname" name="nominatorFirstName" type="text" placeholder="" class="form-control">
                                </div>
                            </div>

                            <!-- Last Name-->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="firstname">Your Last Name</label>
                                <div class="col-lg-10">
                                    <input id="nominatorfirstname" name="nominatorLastName" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <!-- Account Creation-->
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Create a Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">Category / Award</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="category">
                                        <option>Friends</option>
                                        <option>Family</option>
                                        <option>Work</option>
                                        <option>Community</option>
                                        <option>Acquaintances</option>
                                    </select>
                                    <br>
                                    <select class="form-control" id="award">
                                        <option>Best Brother</option>
                                        <option>Best Friend</option>
                                        <option>Best Parent</option>
                                        <option>Best Boss</option>
                                        <option>Best Volunteer</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Tell Us About Your Nominee</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="description"></textarea>
                                    <span class="help-block">Describe the qualities that make your Nominee 'The Best'.</span>
                                </div>
                            </div>

                            <!-- First Name-->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="firstname">First Name</label>
                                <div class="col-lg-10">
                                    <input id="firstName" name="firstname" type="text" placeholder="" class="form-control">
                                </div>
                            </div>

                            <!-- Last Name-->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="lastname">Last Name</label>
                                <div class="col-lg-10">
                                    <input id="lastName" name="lastname" type="text" placeholder="" class="form-control">
                                </div>
                            </div>

                            <!-- Address-->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="address1">Address</label>
                                <div class="col-lg-10">
                                    <input id="address1" name="address1" type="text" placeholder="" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2" for="address2"></label>
                                <div class="col-lg-10">
                                    <input id="address2" name="address2" type="text" placeholder="" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2" for="city">City</label>
                                <div class="controls col-lg-10">
                                    <input id="city" name="city" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label col-lg-2" for="state">State</label>
                                <div class="controls col-lg-10">
                                    <select id="state" name="state" class="form-control">
                                        <option>FL</option>
                                        <option>NE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label col-lg-2" for="zip">Zip</label>
                                <div class="controls col-lg-10">
                                    <input id="zip" name="zip" type="text" placeholder="" class="form-control">
                                </div>
                            </div>

                            <!-- File  -->
                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">Images</label>
                                <span class="help-block">Upload a photo of your nominee that best encapsulates their personality. Clear photos that include the nominees face are recommended.</span>
                                <div class="col-lg-10">
                                    <input id="picture" name="picture" class="input-file" type="file">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button class="btn btn-default">Cancel</button>
                                    <button class="btn btn-default">Save Draft</button>
                                    <button type="submit" id="submitNomination" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>